In [1]:
!pip install mysql
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 6.9 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp37-cp37m-linux_x86_64.whl size=99993 sha256=81bde32035707962135eaa4a585ae10717af3b3677c86ada74ad29610cdb668c
  Stored in directory: /root/.cache/pip/wheels/95/2d/67/2cb3f82e435fc8e055cb2761a15a0812bf086068f6fb835462
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 80.5 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

## Database info

In [2]:
HOST = "mysql-2cd377df-arminzd1-13c6.aivencloud.com"
PORT = 20079
USER = "avnadmin"
PASSWORD = "AVNS_uSmgWEtCqXTieqImRNk"
DATABASE = "Test"

## Connect to database

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host = HOST,
  port = PORT,
  user = USER,
  password = PASSWORD,
  database = DATABASE
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fc2ba378590>

## Create table

In [4]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE users (name VARCHAR(255) primary key, address VARCHAR(255))")

In [5]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('users',)

## Insert data

In [6]:
mycursor = mydb.cursor()

sql = "INSERT INTO users (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

## Select

In [8]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM users")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')